<% if current_page?(root_path) %>
<div class="navbar navbar-transparent navbar-expand-sm navbar-light navbar-lewagon">
<% else %>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
<% end %>


  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.svg", alt: "logo" %>
    <% end %>
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "Jouer", games_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Quizz", forms_path, method: :post, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Métiers", jobs_path, class: "nav-link", style: "margin-right: 30px;" %>
        </li>

        <% if !cookies[:job].nil? && cookies[:boy_or_girl] == "-2" %>
          <li class="nav-item dropdown avatar-name">
          <%= image_tag "boy-back-head.svg", class: "avatar-face dropdown-toggle avatar-right",  alt: "alttext" %>
          <p class="desc"><%= cookies[:firstname] %> - <%= render "shared/grade" %></p></li>
        <% elsif !cookies[:job].nil? && cookies[:boy_or_girl] == "2" %>
          <li class="nav-item dropdown avatar-name">
          <%= image_tag "girl-back-head.svg", class: "avatar-face dropdown-toggle avatar-right",  alt: "alttext" %>
          <p class="desc"><%= cookies[:firstname] %> - <%= render "shared/grade" %></p></li>
        <% elsif !cookies[:firstname].nil? %>
          <li class="nav-item dropdown avatar-name">
          <%= image_tag "boy-back-head.svg", class: "avatar-face dropdown-toggle avatar-right",  alt: "alttext" %>
          <div class="desc"><%= cookies[:firstname] %></div></li>
        <% elsif cookies[:boy_or_girl] == "-2"  %>
          <li class="nav-item dropdown avatar-name">
          <%= image_tag "boy-back-head.svg", class: "avatar-face dropdown-toggle avatar-right",  alt: "alttext" %>
          <div class="desc"><%= cookies[:firstname] %></div></li>
        <% elsif cookies[:boy_or_girl] == "2"  %>
          <li class="nav-item dropdown avatar-name">
          <%= image_tag "girl-back-head.svg", class: "avatar-face dropdown-toggle avatar-right",  alt: "alttext" %>
          <div class="desc"><%= cookies[:firstname] %></div></li>
        <% else %>
          <li class="nav-item" style="margin-top: 7px;">
              <%= link_to "Démarrer", forms_path, method: :post, class: "button-red button-nav" %></li>
        <% end %>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Des questions ?</a>
            <a class="dropdown-item" href="#">Réseaux sociaux</a>
          </div>

      </ul>
    </div>
  </div>
</div>
