<div class="sublime-grid-container">

<%= form_for("",  method: "get") do |f| %>
  <div class="sublime-item-1">1</div>
  <div class="sublime-item-2">Game Name {</div>
  <div class="sublime-item-3">2</div>
  <div class="sublime-item-4">age = <%= f.select :variable1, collection: ["10", "18", "60"] %></div>
  <div class="sublime-item-5">3</div>
  <div class="sublime-item-6">origine = <%= f.select :variable1, collection: ["Français", "US"] %></div>
  <div class="sublime-item-7">4</div>
  <div class="sublime-item-8">genre = <%= f.select :variable1, collection: ["Actuel", "Humour", "Sci-fi"] %></div>
  <div class="sublime-item-9">5</div>
  <div class="sublime-item-10">}</div>
  <div class="sublime-item-11">6</div>
  <div class="sublime-item-12"></div>
  <div class="sublime-item-13">7</div>
  <div class="sublime-item-14"></div>

  <div>
   <%=  f.button :submit, value: "Valider", class: "btn-principal" %>
  </div>

<% end %>
</div>
