<div class="game">
  <div class="container-fluid">
  <div class="row">
  <div class="col-12 col-md-6 game-padding">
    <h1><span class="logo"><%= image_tag "netflix.svg", alt: "alttext" %></span>Netflix</h1>

    <p>Pour ce premier exercice Back-end, on te demande de changer certaines <span class='concept'>conditions</span> pour modifier l'algorithme. Le travail d'un développeur est de travailler sur ces <span class='concept'>conditions</span> pour personnaliser le site internet.</p>
    <div id="sublime", class="sublime-grid-container">
          <%= form_for("", method: "get",:html => {:id => "netflixForm"},remote: true) do |f| %>
            <div class="sublime-item-1">1</div>
            <div class="sublime-item-2">recoNetflix {</div>
            <div class="sublime-item-3">2</div>
            <div class="sublime-item-4">condition(<i>age</i>) = <%= f.select :variable1N, options_for_select(["10", "20", "60"], params[:variable1N])  %></div>
            <div class="sublime-item-5">3</div>
            <div class="sublime-item-6">condition(<i>origine</i>) = <%= f.select :variable2N, options_for_select(["UE", "US"], params[:variable2N]) %></div>
            <div class="sublime-item-7">4</div>
            <div class="sublime-item-8">condition(<i>genre</i>) = <%= f.select :variable3N, options_for_select(["Police", "Comédie", "Sci-fi"], params[:variable3N]) %></div>
            <div class="sublime-item-9">5</div>
            <div class="sublime-item-10"></div>
            <div class="sublime-item-11">6</div>
            <div class="sublime-item-12"></div>
            <div class="sublime-item-13">7</div>
            <div class="sublime-item-14">}</div>
            <% end %>
  </div>
  <%= link_to "Valider", "resultnetflix", id: "netflixbtn", class: "button-red mt-3", style: "display:none;" %>
  </div>




  <div class="col-12 col-md-6 fh-90 bg-lightgray align-items-center game-padding">
    <div class="game-desc">TOUDOUUUM ! Le code de Netflix est cassé, et les recommandations ne sont plus du tout adaptées pour ton petit frère de 10 ans, fan de science-fiction. Améliore le code pour améliorer les recommandations.</div>
    <div class="mountain">
    <div id= "victory", style= "display: none ">
      <%= image_tag "win.svg"%>
    </div>
      <div class= "netflix">
        <h3>Nos recommandations pour <%= cookies[:firstname] %><br></h3>
        <% @recommandations.each do |recommandation| %>
          <div class="col-12 col-md-6">

            <%= image_tag recommandation.image %>

          </div>
        <% end %></div>
      </div>
    </div>
  </div>   </div>
</div>
</div>

  </div>
<% if cookies[:sound].nil? %>
  <%= audio_tag "netflix.mp3", class: "audio-play" %>
  <% cookies[:sound] = "ok" %>
<% end %>



