<div class="fh-100">
<div class="container-fluid">
  <div class="row align-items-center">

  <!-- condition front -->
  <% if @total_points < 0 %>
    <div class="col-12 col-md-6 d-flex justify-content-around bg-left bg-yellow fh-100">
  <!-- boy, or girl ? -->
  <% if @boy_or_girl[0].points == "-2"  %>
    <%= image_tag "boy-front.svg", alt: "alttext", class: "character" %>
  <% elsif @boy_or_girl[0].points == "2" %>
    <%= image_tag "girl-front.svg", alt: "alttext", class: "character" %>
   <% end %>

    </div>
    <div class="col-12 col-md-6 fh-100 bg-right">
      <div class="display-right">
      <h1>Le métier de Développeur Front-End t'a choisi !</h1>
      <p>Le développeur front-end est en charge des parties des applications ou des sites web qui sont visibles directement par les utilisateurs et avec lesquelles ces derniers peuvent interagir. </p>
      <div class="buttons">
        <%= link_to "🎮 À toi de jouer !", games_path, class: "button-red" %>
        <%= link_to "Fiche métier", jobs_path, class: "button-red-2" %>
      </div>
      <% cookies[:job] = "Front-end" %>
    </div>
  </div>

  <!-- condition back -->
  <% else %>
    <div class="col-12 col-md-6 d-flex justify-content-around bg-left bg-yellow fh-100">
     <!-- boy, or girl ? -->
  <% if @boy_or_girl[0].points == "-2"  %>
    <%= image_tag "boy-back.svg", alt: "alttext", class: "character" %>
  <% elsif @boy_or_girl[0].points == "2" %>
    <%= image_tag "girl-back.svg", alt: "alttext", class: "character" %>
   <% end %>

    </div>
    <div class="col-12 col-md-6 fh-100 bg-right">
      <div class="display-right">
              <h1>Le métier de Développeur Back-End t'a choisi !</h1>
      <p>Le programmeur back-end se charge de la mise en place, de la configuration, du développement et de la maintenance du serveur, de la base de données et de l’application web en général. </p>
      <div class="buttons">
        <%= link_to "🎮 À toi de jouer !", games_path, class: "button-red" %>
        <%= link_to "Fiche métier", jobs_path, class: "button-red-2" %>
      </div>
    </div>
      </div>

    <% cookies[:job] = "Back-end" %>
  <% end %>
  </div>
</div>

</div>
